{% extends 'dashboard.twig' %}

{% macro drawWidget(widget) %}
    <div class="widget">
        <div class="widgetTop">
            <h3 class="widgetName">{{ widget.title }}</h3>
        </div>
        <div class="widgetContent">
                {{ widget.content|raw }}
        </div>
    </div>
{% endmacro drawWidget %}

{% import _self as helper %}

{% block root %}
    {% include "@CoreHome/_warningInvalidHost.twig" %}
    {#{% include "@CoreHome/_topScreen.twig" %}#}

    {% block notification %}
        {% include "@CoreHome/_notifications.twig" %}
    {% endblock %}

    <div class="ui-confirm" id="alert">
        <h2></h2>
        <input role="yes" type="button" value="{{ 'General_Ok'|translate }}"/>
    </div>

    {{ postEvent("Template.beforeContent", "dashboard", currentModule) }}


{% block content %}
    <div id="dashboard" class="dashboard-swd container-fluid">
        <div class="row">
            <div class="col col-sm-12">
                <h1 class="text-center">Statistiche</h1>
                <a href="#" id="daterange" class="pull-right">
                    <span class="glyphicon glyphicon-calendar">Periodo di riferimento:</span>
                    <span class="daterange-visualizer"></span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-12">
            {% for widget in widgets[0] %}
                {{ helper.drawWidget(widget) }}
            {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col col-md-6">

                {#<div class="widget">#}
                    {#<div class="widgetTop">#}
                        {#<h3 class="widgetName">Visite in tempo reale</h3>#}
                    {#</div>#}
                    {#<div class="widgetContent" id="liveReportContainer"></div>#}
                    {#<div class="widgetContent" id="liveReportContainerLoading">loading...</div>#}
                {#</div>#}

                {% for widget in widgets[1] %}
                    {{ helper.drawWidget(widget) }}
                {% endfor %}
            </div>

            <div class="col col-md-6">
                {% for widget in widgets[2] %}
                    {{ helper.drawWidget(widget) }}
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}

{% endblock root %}
